# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

build
Build
/*/Build
.DS_Store
xcuserdata
xcuserdata/*
DerivedData
*.pbxuser
circuitShader/xcode/.DS_Store
AudioShader/xcode/.DS_Store
BritneysSpaceship/xcode/BritneysSpaceship.xcodeproj/project.xcworkspace/xcuserdata/vgusev.xcuserdatad/UserInterfaceState.xcuserstate
BritneysSpaceship/xcode/BritneysSpaceship.xcodeproj/xcuserdata/vgusev.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
BritneysSpaceship/xcode/BritneysSpaceship.xcodeproj/xcuserdata/vgusev.xcuserdatad/xcschemes/xcschememanagement.plist
HelloWorldShadertoy/xcode/HelloWorldShadertoy.xcodeproj/project.xcworkspace/contents.xcworkspacedata
HelloWorldShadertoy/xcode/HelloWorldShadertoy.xcodeproj/project.xcworkspace/xcuserdata/eight.xcuserdatad/UserInterfaceState.xcuserstate
HelloWorldShadertoy/xcode/HelloWorldShadertoy.xcodeproj/project.xcworkspace/xcuserdata/vgusev.xcuserdatad/UserInterfaceState.xcuserstate
HelloWorldShadertoy/xcode/HelloWorldShadertoy.xcodeproj/xcuserdata/eight.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
HelloWorldShadertoy/xcode/HelloWorldShadertoy.xcodeproj/xcuserdata/eight.xcuserdatad/xcschemes/xcschememanagement.plist
HelloWorldShadertoy/xcode/HelloWorldShadertoy.xcodeproj/xcuserdata/vgusev.xcuserdatad/xcschemes/BritneysSpaceship.xcscheme
AudioShader/xcode/AudioShader.xcodeproj/project.xcworkspace/xcuserdata/vgusev.xcuserdatad/UserInterfaceState.xcuserstate
circuitShader/xcode/circuitShader.xcodeproj/xcuserdata/vgusev.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
circuitShader/xcode/circuitShader.xcodeproj/project.xcworkspace/xcuserdata/vgusev.xcuserdatad/UserInterfaceState.xcuserstate

CocoKinect/.DS_Store
